@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Head Tags
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
  font-family: $regular;
}

p{
  font-weight: $rob--regular;
  line-height: 140%;
  font-family: $robot;
}

//Type Family
.type--robot{ font-family: $robot; }

//Type Algin
.type--center{
  text-align: center;
}

//Type Colors
.type--gold{ color: #E59B24; }
.type--red{ color: #BF2027; }
.type--white{ color: #ffffff; }

