@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

//Base
html{
  font-weight: 300;
  font-family: $robot;
  letter-spacing: 0.75px;
}

// Head Tags
h1, h2, h3, h4, h5, h6{
  font-weight: $medium;
  line-height: 120%;
}

p{
  font-weight: $regular;
  line-height: 140%;
}

//Type Family
.type--robot{ font-family: $robot; }

//Type Algin
.type--center{
  text-align: center;
}

//Type Colors
.type--gold{ color: #E59B24; }
.type--red{ color: #BF2027; }
.type--white{ color: #ffffff; }
